/* ------------------------------------------------------------ *\
	box-simple
\* ------------------------------------------------------------ */

.box-simple {
	padding: 2rem;
	height: 100%;
	background-color: var(--c-purple);
	color: var(--c-white);
	display: flex;
	align-items: center;
	justify-content: center;

	.box__content {
		max-width: 13.8rem;
		margin: auto;
	}

	h2 {
		font-size: 3rem;
		font-weight: 600;

		@include breakpoint-down(mobile) {
			font-size: 2.2rem;
		}
	}
}
