/* ------------------------------------------------------------ *\
	boxes
\* ------------------------------------------------------------ */

.boxes {
	margin: -2.7rem -.8rem;

	@include breakpoint-down(tablet) {
		margin: -2rem -.8rem;
	}

	@include breakpoint-down(mobile) {
		margin: -1.5rem -.8rem;
	}

	> .col {
		padding: 2.7rem .8rem;

		@include breakpoint-down(tablet) {
			padding: 2rem .8rem;
		}

		@include breakpoint-down(mobile) {
			padding: 1.5rem .8rem;
		}
	}
}
