/* ------------------------------------------------------------ *\
	list-logos
\* ------------------------------------------------------------ */

.list-logos {
	list-style-type: none;
	gap: 3rem;
	margin: 0;

	@include breakpoint-down(tablet) {
		justify-content: space-around;
	}

	li {
		@include breakpoint-down(mobile-medium) {
			max-width: 100%;
			width: 100%;
			text-align: center;
		}
	}
}
