/* ------------------------------------------------------------ *\
	list-logos
\* ------------------------------------------------------------ */

.list-logos {
	list-style-type: none;
	gap: 3rem;
	margin: 0;
}
