/* ------------------------------------------------------------ *\
	nav
\* ------------------------------------------------------------ */

.nav {
	color: var(--c-purple);
}

.nav > ul {
	display: flex;
	list-style-type: none;
	gap: 2.7rem;
}

.nav > ul > li {
	position: relative;
	padding: 0 1rem;
}
/* is current*/
.nav > ul > li.is-current {
	font-weight: 700;
}

.nav > ul > li > a {
	display: inline-block;
	position: relative;
	text-decoration: none;
}

.nav > ul > li > a:before {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .1rem;
	background-color: currentColor;
	transform: scale(0, 1);
	transform-origin: left;
	transition: transform var(--t-duration) ease-in;
}

.nav > ul > li > a:hover:before {
	transform: scale(1);
}
