/* ------------------------------------------------------------ *\
	section-intro
\* ------------------------------------------------------------ */

.section-intro {
	padding: 13.3rem 0 12.4rem;
	background-color: #E8E9F9;
	color: #2a2a2a;
	text-align: center;

	@include breakpoint-down(small-desktop) {
		padding: 8rem 0;
	}

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}

	.section__inner {
		max-width:81rem;
		margin: 0 auto;
	}

	h2 {
		color: var(--c-purple-dark);
		margin-bottom: 1.6rem;
		font-weight: 600;
	}
}

/* section intro purple */
.section-intro--purple {
	padding: 4.6rem 0 8.5rem;
	background-color: var(--c-purple);
	color: var(--c-white);

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}

	h2 {
		color: var(--c-white);
		margin-bottom: 2rem;
	}
}
