/* ------------------------------------------------------------ *\
	section-approach
\* ------------------------------------------------------------ */

.section-approach {
	padding: 9rem 0;
}

.section-approach .section__head {
	max-width: 69.3rem;
	margin: 0 auto 7.8rem;
	text-align: center;
}

.section-approach h1 {
	text-transform: uppercase;
	color: var(--c-purple);
	margin-bottom: 3.3rem;
}

.section-approach .section__entry {
	margin-bottom: 7.9rem;
}

.section-approach .section__head h3 {
	text-transform: uppercase;
	color: var(--c-purple-dark);
}

.section-approach .section__body {
	max-width: 109rem;
	margin: 0 auto;
	padding-left: 0.7rem;
}
