/* ------------------------------------------------------------ *\
	section-simple
\* ------------------------------------------------------------ */

.section-simple {
	padding: 5.4rem 0;

	@include breakpoint-down(mobile) {
		padding: 2.5rem 0;
	}

	 .section__grid-container {
		padding: 0 5rem 0 12rem;
	}

	 .section__inner {
		max-width: 109rem;
		margin: 0 auto;
	}

	 .section__aside {
		padding-right: 3.9rem;

		@include breakpoint-down(tablet) {
			padding-right: 0;
			margin-bottom: 6rem;
		}

		@include breakpoint-down(mobile) {
			margin-bottom: 3rem;
		}
	}

	 .section__content {
		max-width: 49rem;
		margin-top: -0.9rem;

		@include breakpoint-down(tablet) {
			margin: 0;
			max-width: unset;
		}
	}

	 h3 {
		color: #6152D6;
		margin-bottom: 2rem;
		font-weight: 600;
	}

	 p:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

/* section simple adjust */
.section-simple--adjust {
	padding: 5.9rem 0 4.8rem;

	@include breakpoint-down(mobile) {
		padding: 5rem 0;
	}

	.section__grid-container {
		max-width: 121rem;
		padding: 0 2rem;
	}
}

/* section simple modify */
.section-simple--modify {
	padding: 20.7rem 0 13.7rem;

	@include breakpoint-down(small-desktop) {
		padding: 12rem 0 8rem;
	}

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}

	.section__inner {
		padding: 0 11.2rem 0 17.3rem;
		max-width: unset;

		@include breakpoint-down(small-desktop) {
			padding: 0 2rem 0;
		}

		@include breakpoint-down(mobile) {
			padding: 0 5rem 0 2rem;
		}
	}
}

/* section offset */
.section-simpe--offset {
	padding: 12.7rem 0 11rem;

	@include breakpoint-down(small-desktop) {
		padding: 12rem 0 8rem;
	}

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}
}

/* section simple beige */
.section-simple--beige {
	padding: 9rem 0 6rem;
	background-color: rgba(101, 110, 214, .15);

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}
}

