/* ------------------------------------------------------------ *\
	section-podcasts
\* ------------------------------------------------------------ */

.section-podcasts {
	padding: 7rem 0 10rem;

	@include breakpoint-down(small-desktop) {
		padding: 7rem 0;
	}

	@include breakpoint-down(tablet) {
		padding: 5rem 0;
	}

	.section__grid-container {
		max-width: 131.4rem;
	}

	.section__head {
		max-width: 53.4rem;
		margin-bottom: 5.8rem;
		color: var(--c-black);
	}

	.section__logo {
		margin-bottom: 3.5rem;
	}

	.section__body {
		margin-bottom: 7rem;
	}

	.section__bar {
		display: flex;
		align-items: center;
		gap: 4rem;
		color: var(--c-black);
	}

	.section__bar p {
		margin-bottom: 0;
	}
}
