/* ------------------------------------------------------------ *\
	tabs
\* ------------------------------------------------------------ */

.tabs {
	background-color: transparent;
	border: none;
}

.tabs .tabs__head {
	padding: 13.5rem 6.4rem 5rem 8.2rem;

	@include breakpoint-down(small-desktop) {
		padding: 13.5rem 4rem 5rem 5rem;
	}

	@include breakpoint-down(tablet) {
		padding: 0;
		margin-bottom: 2rem;
	}
}

.tabs .tabs__nav ul {
	list-style-type: none;

	@include breakpoint-down(tablet) {
		margin-left: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 3rem;
	}

	@include breakpoint-down(mobile) {
		margin: 0 -2rem;
		display: flex;
		flex-wrap: nowrap;
		margin: 0 -2rem;
		white-space: nowrap;
		overflow: auto;
		padding: 0 2rem;
		scrollbar-width: none;
	}
}

.tabs .tabs__nav ul li {
	position: relative;
	isolation: isolate;
	padding: 2.2rem 2rem 2rem 0;

	@include breakpoint-down(tablet) {
		padding: 1.8rem 2rem 1.6rem;
		align-self: center;
	}
}

.tabs .tabs__nav ul li:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100vw;
	border-radius: 4.4rem;
	background-color: var(--c-purple);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	transform: scale(0,1);
	transition: transform .2s ease-in-out;

	@include breakpoint-down(mobile) {
		width: 100%;
		transition: transform .4s ease-in-out;
	}
}

.tabs .tabs__nav ul li:nth-child(even):before {
	@include breakpoint-down(tablet) {
		right: unset;
		left: 0;
	}

	@include breakpoint-down(mobile) {
		right: 0;
		left: unset;
	}
}

.tabs .tabs__nav ul li a {
	text-decoration: none;
	color: var(--c-purple);
}

.tabs .tabs__nav ul li a:hover {
	color: #2A2A2A;
}

.tabs .tabs__body {
	padding-left: .7rem;
	max-width: 56.8rem;

	@include breakpoint-down(tablet) {
		padding-left: 0;
		max-width: 100%;
	}
}

.tabs .tab {
	display: none;
}

.tabs .tab .tab__image {
	margin-bottom: 2rem;
}

.tabs .tab h3 {
	color: var(--c-purple-dark);
	margin-bottom: 1.5rem;
	font-weight: 600;
}

.tabs .tab .tab__btn {
	margin-top: .9rem;
}

/* is current */
.tabs .tabs__nav ul li.is-current:before {
	opacity: 1;
	transform: scale(1);
}

.tabs .tabs__nav ul li.is-current a {
	color: var(--c-white);
	font-weight: 600;
}

.tabs .tab.is-current {
	display: block;
}
