<footer class="footer">
	<div class="grid-container footer__grid-container">
		<div class="footer__inner grid-x align-justify">
			<div class="footer__content">
				<a href="#" class="logo footer__logo">
					<img src="assets/images/footer-logo.svg" alt="" width="229" height="53">
				</a><!-- /.footer__logo -->

				<ul class="list-downloads">
					<li>
						<a href="#">
							<img src="assets/images/temp/app-store.png" alt="" width="143" height="47">
						</a>
					</li>

					<li>
						<a href="#">
							<img src="assets/images/temp/google-play.png" alt="" width="161" height="47">
						</a>
					</li>
				</ul><!-- /.list-downloads -->
			</div><!-- /.footer__content -->

			<div class="footer__aside grid-x">
				<div class="footer__col">
					<ul class="list-links footer__list-links">
						<li>
							<a href="https://www.beamandme.com/support/">Support</a>
						</li>

						<li>
							<a href="https://www.beamandme.com/terms-and-conditions/">Terms and Conditions</a>
						</li>

						<li>
							<a href="https://www.beamandme.com/privacy-policy/">Privacy Policy</a>
						</li>
					</ul><!-- /.list-links -->

					<span class="copyright">&copy; 2022 Beam</span><!-- /.copyright -->
				</div><!-- /.footer__col -->

				<div class="footer__col">
					<ul class="list-links footer__list-links">
						<li>
							<a href="https://www.beamandme.com/support/">Support</a>
						</li>

						<li>
							<a href="https://www.beamandme.com/terms-and-conditions/">Terms and Conditions</a>
						</li>

						<li>
							<a href="https://www.beamandme.com/privacy-policy/">Privacy Policy</a>
						</li>
					</ul><!-- /.list-links -->

					<span class="copyright">&copy; 2022 Beam</span><!-- /.copyright -->
				</div><!-- /.footer__col -->
			</div><!-- /.footer__aside -->
		</div><!-- /.footer__inner grid-x -->
	</div><!-- /.grid-container -->
</footer><!-- /.footer --><!-- Your footer goes here -->
