<!-- Your header goes here -->
<div class="header js-header">
	<div class="grid-container">
		<div class="grid-x align-bottom align-justify header__inner">
			<a href="#" class="logo header__logo">
				<img src="assets/images/logo.svg" alt="" width="229" height="53">
			</a><!-- /.logo -->

			<div class="header__menu">
				<div class="header__menu-inner">
					<div class="header__bar">
						<nav class="nav-secondary">
							<ul>
								<li class="is-current">
									<a href="#">Enterprise</a>
								</li>

								<li>
									<a href="#">Personal</a>
								</li>
							</ul>
						</nav><!-- /.nav-secondary -->
					</div><!-- /.header__bar -->

					<nav class="nav">
						<ul>
							<li class="is-current">
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Our Impact</a>
							</li>

							<li>
								<a href="#">How Beam Works</a>
							</li>

							<li>
								<a href="#">Research</a>
							</li>

							<li>
								<a href="#">About Us</a>
							</li>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header__menu-inner -->
			</div><!-- /.header__menu -->

			<a href="#" class="js-nav-trigger nav-trigger header__nav-trigger">
				<span></span>

				<span></span>

				<span>menu</span>
			</a><!-- /.nav-trigger -->
		</div><!-- /.header__inner -->
	</div><!-- /.grid-container -->
</div><!-- /.header js-header -->
