/* ------------------------------------------------------------ *\
	Css variables
\* ------------------------------------------------------------ */

:root {
	--c-white:  #fff;
	--c-black:  #000;
	--c-grey:  #F8F9FE;
	--c-pink:  #DCD7FF;
	--c-purple:  #8274E9;
	--c-purple-2:  #6051D5;
	--c-purple-dark:  #5955b1;
	--c-dark:  #333574;
	--c-orange:  #EE5F38;
	--c-green:  #79F1D9;
	--c-green-2:  #4EDDE3;
	--c-blue:  #5ACAF4;
	--c-blue-dark:  #2D6C8D;
	--c-base:  #616161;
	--t-duration: .4s;

	--fw-base:  400;
	--fs-base:  1.8rem;
	--lh-base:  1.2;

	 --f-family-base: "Lexend Deca", sans-serif;
}

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html {
	font-size: 62.5%;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 32.0rem;
	margin: 0;
	background: var(--c-white);
	font-family: var(--f-family-base);
	font-weight: var(--fw-base);;
	font-size: var(--fs-base);;
	line-height: var(--lh-base);;
	color: var(--c-base);
}

.h1,
h1 {
	font-size: 4.8rem;
	line-height: 1.041;
	font-weight: 800;
	font-family: var(--f-family-base);
}

.h2,
h2 {
	font-size: 3.8rem;
	line-height: 1.315;
	font-weight: 800;
	font-family: var(--f-family-base);
}

.h3,
h3 {
	font-size: 2.8rem;
	line-height: 1.071;
	font-weight: 800;
	font-family: var(--f-family-base);
}

.h4,
h4 {
	font-size: 2.4rem;
	line-height: 1.2;
	font-family: var(--f-family-base);
}

.h5,
h5 {
	font-size: 2rem;
	line-height: 1.2;
	font-family: var(--f-family-base);
}

.h6,
h6 {
	font-size: 1.8rem;
	line-height: 1.2;
	font-weight: 400;
	font-family: var(--f-family-base);
}

img {
	height: auto;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: currentColor;
}

/* ------------------------------------------------------------ *\
	Animations
\* ------------------------------------------------------------ */
@keyframes pulse {
	0% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-box-shadow: 0 0 0 2.5rem transparent;
		box-shadow: 0 0 0 2.5rem transparent;
	}
	100% {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		-webkit-box-shadow: 0 0 0 0 transparent;
		box-shadow: 0 0 0 0 transparent;
	}
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper {
	min-height: 100vh;
	min-height: 100dvh;
	overflow: hidden;
}

/* ------------------------------------------------------------ *\
	Grid container
\* ------------------------------------------------------------ */
.grid-container {
	width: 100%;
	max-width: 117rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

/* ------------------------------------------------------------ *\
	Btn primary
\* ------------------------------------------------------------ */
.btn-primary {
	appearance: none;
	display: inline-block;
	background-color: var(--c-purple-2);
	border-radius: 2.5rem;
	padding: 0.8rem 3.3rem 0.7rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--c-white);
	transition: opacity var(--t-duration) ease-in-out;
}

.btn-primary:hover {
	opacity: .8;
	color: var(--c-purple-2);
}

/* btn primary white */
.btn-primary--white {
	background-color: var(--c-white);
	color: var(--c-purple-2);
}

/* is pulsing */
.is-pulsing {
	-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.35);
	animation: pulse 3s infinite;
	-webkit-animation: pulse 3s infinite;
	animation-delay: 2s;
}

/* ------------------------------------------------------------ *\
	Btn secondary
\* ------------------------------------------------------------ */
.btn-secondary {
	appearance: none;
	display: inline-block;
	border-radius: 2.5rem;
	padding: 0.7rem 3.4rem 0.6rem;
	border: .1rem solid var(--c-white);
	text-align: center;
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--c-white);
	transition: opacity var(--t-duration) ease-in-out;
}

.btn-secondary:hover {
	opacity: .8;
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
.header {
	padding: 4rem 0 4.2rem;
	overflow: hidden;
}

.header__menu {
	margin-left: 2rem;
}

.header .header__bar {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.7rem;
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */
.logo {
	position: relative;
	width: 100%;
	max-width:22.9rem;
	transition: opacity var(--t-duration) ease-in-out;
}

.logo:hover {
	opacity: .8;
}

.logo img {
	width: 100%;
}

/* ------------------------------------------------------------ *\
	Nav secondary
\* ------------------------------------------------------------ */
.nav-secondary {
	color: var(--c-purple);
}
 
.nav-secondary > ul {
	display: flex;
	list-style-type: none;
	gap: 2.4rem;
}

.nav-secondary > ul > li {
	position: relative;
	padding: 0 1rem;
}
/* is current*/
.nav-secondary > ul > li.is-current {
	font-weight: 700;
	color: var(--c-white);
	isolation: isolate;
}

.nav-secondary > ul > li.is-current:before {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: -2rem;
	top: -10rem;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: var(--c-purple);
}

.nav-secondary > ul > li > a {
	text-decoration: none;
	transition: opacity var(--t-duration) ease-in-out;
}

.nav-secondary > ul > li > a:hover {
	opacity: .8;
}

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav {
	color: var(--c-purple);
}
 
.nav > ul {
	display: flex;
	list-style-type: none;
	gap: 3.1rem;
}

.nav > ul > li {
	position: relative;
	padding: 0 1rem;
}
/* is current*/
.nav > ul > li.is-current {
	font-weight: 700;
}

.nav > ul > li > a {
	text-decoration: none;
	transition: opacity var(--t-duration) ease-in-out;
}

.nav > ul > li > a:hover {
	opacity: .8;
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */
.hero {
	position: relative;
	background-color: var(--c-purple);
	color: var(--c-white);
}

.hero .hero__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	max-width: 50%;
	height: 100%;
}

.hero .hero__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero .hero__inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	margin-left: auto;
	padding: 2rem;
	min-height: 61.2rem;
	font-weight: 300;
}

.hero__content {
	max-width: 49.4rem;
}

.hero h2 {
	text-transform: uppercase;
	color: var(--c-white);
	margin-bottom: 4rem;
}

.hero .hero__actions {
	margin-top: 4rem;
	align-items: center;
	display: flex;
	gap: 1.5rem;
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */
.section {
	padding: 7.4rem 0;
}

.section .section__bar {
	text-align: center;
	max-width: 47.5rem;
	margin: 0 auto 4rem;
	color: #6152D6;
}

.section__entry {
	font-size: 1.4rem;
	margin-top: 2rem;
	padding: 0 4rem;
}

/* ------------------------------------------------------------ *\
	List Logos
\* ------------------------------------------------------------ */
.list-logos {
	list-style-type: none;
	gap: 3rem;
}

/* ------------------------------------------------------------ *\
	Section simple
\* ------------------------------------------------------------ */
.section-simple {
	padding: 7rem 0;
}

.section-simple .section__grid-container {
	padding: 0 5rem 0 12rem;
}

.section-simple .section__inner {
	max-width: 112rem;
	margin: 0 auto;
}

.section-simple .section__aside {
	padding-right: 5.4rem;
}

.section-simple h3 {
	color: #6152D6;
	margin-bottom: 5.2rem;
}

.section-simple p:not(:last-child) {
	margin-bottom: 4rem;
}

/* ------------------------------------------------------------ *\
	Video
\* ------------------------------------------------------------ */
.video {
	position: relative;
	aspect-ratio: 506.52 / 312.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video .video__poster {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	transition: opacity var(--t-duration) ease-in-out;
}

.video .video__poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video .plyr {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
}

.video .video__btn {
	position: relative;
	z-index: 10;
	border-radius: 100%;
	transition: opacity var(--t-duration) ease-in-out;
}

/* is playing */
.video.is-playing .video__poster {
	opacity: 0;
	pointer-events: none;
}

.video.is-playing .video__btn {
	opacity: 0;
	pointer-events: none;
}

/* ------------------------------------------------------------ *\
	list stats
\* ------------------------------------------------------------ */
.list-stats {
	list-style-type: none;
	margin: 0 -1rem;
}

.list-stats li {
	padding: 0 1rem;
	font-weight: 700;
	color: var(--c-purple-2);
	text-align: center;
}

.list-stats .list__entry {
	margin-bottom: 5rem;
	font-size: 9.8rem;
	font-weight: 600;
	line-height: 1;
	color: var(--c-white);
	background-size: cover;
	background-clip: text;
	text-shadow: .2rem .2rem 0 #97EBD8, -.2rem -.2rem 0 #97EBD8, .2rem -.2rem 0 #97EBD8,
	-.2rem .2rem 0 #97EBD8, .2rem .2rem 0 #97EBD8;
}

/* ------------------------------------------------------------ *\
	Section tabs
\* ------------------------------------------------------------ */
.section-tabs {
	padding: 8.2rem 0;
	background-color: #E8E9F9;
	overflow: hidden
}

.section-tabs .section__head {
	color: #2A2A2A;
	max-width: 83rem;
	margin: 0 auto 8.8rem;
	text-align: center;
}

.section-tabs h2 {
	max-width: 57.8rem;
	margin: 0 auto 3rem;
	color: var(--c-purple-dark);
}

/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */
.tabs {
	background-color: transparent;
	border: none;
}

.tabs .tabs__head {
	padding: 14rem 0;
}

.tabs .tabs__nav ul {
	list-style-type: none;
}

.tabs .tabs__nav ul li {
	position: relative;
	isolation: isolate;
	padding: 2rem 2rem 2rem 0;
}

.tabs .tabs__nav ul li:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100vw;
	border-radius: 4.4rem;
	background-color: var(--c-purple);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

.tabs .tabs__nav ul li a {
	text-decoration: none;
	color: var(--c-purple);
}

.tabs .tabs__nav ul li a:hover {
	color: #2A2A2A;
}

.tabs .tabs__body {
	padding-left: 5.4rem;
}

.tabs .tab {
	display: none;
}

.tabs .tab .tab__image {
	margin-bottom: 1.7rem;
}

.tabs .tab h3 {
	color: var(--c-purple-dark);
	margin-bottom: 2rem;
	font-weight: 600;
}

.tabs .tab .tab__btn {
	margin-top: 3rem;
}

/* is current */
.tabs .tabs__nav ul li.is-current:before {
	opacity: 1;
}

.tabs .tabs__nav ul li.is-current a {
	color: var(--c-white);
	font-weight: 600;
}

.tabs .tab.is-current {
	display: block;
}

/* ------------------------------------------------------------ *\
	list partners
\* ------------------------------------------------------------ */
.list-partners {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: repeat(auto auto);
	gap: 0 18rem;
}

.list-partners li {
	display: grid;
	grid-row: span 2;
	grid-template-rows: subgrid;
	gap: 2rem;
	text-align: center;
	color: var(--c-purple-2)
}

/* ------------------------------------------------------------ *\
	Section purple
\* ------------------------------------------------------------ */
.section-purple {
	padding: 10rem 0;
	background-color: var(--c-purple-dark);
	overflow: hidden;
	color: var(--c-white);
}

.section-purple .section__content {
	position: relative;
	z-index: 20;
	background-color: var(--c-purple-dark);
}

.section-purple h2 {
	margin-bottom: 2rem;
	color: #F8F9FE;
}

.section-purple .section__logo {
	margin-bottom: 2rem;
}

.section-purple .section__entry {
	margin-bottom: 2rem;
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */
.slider {
	height: unset;
	margin: 0;
	background-color: transparent;
}

.slider:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	height: 100%;
	right: 100%;
	width: 100vw;
	background-color: var(--c-purple-dark);
	z-index: 10;
}

.slider .slider__clip {
	overflow: visible;
}

.slider__slide {
	height: auto;
}

/* Swiper overwrites */
.slider .swiper-pagination-bullet {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	border: none;
	background-color: #DCD7FF;
	opacity: .53;
	margin: 0 .4rem;
	transition: all var(--t-duration) ease-in-out;
}

.slider .swiper-pagination-bullet:hover {
	opacity: 1;
}

.slider .swiper-pagination-bullet-active {
	width: 5.5rem;
	opacity: 1;
	border-radius: 1rem;
}

/* slider patterns */
.slider--patterns:before {
	display: none;
}

.slider--patterns .slider__slide {
	transition: opacity var(--t-duration) ease-in-out;
}

.slider--patterns .swiper-slide {
	opacity: 0 !important;
}

.slider--patterns .swiper-slide-active {
	opacity: 1 !important;
}

.slider--patterns .swiper-pagination-bullets {
	position: absolute;
	bottom: 6rem;
	right: -40rem;
	z-index: 100;
	left: unset;
}

/* slider testimonials */
.slider--testimonials:before {
	display: none;
}

.slider--testimonials .slider__slide {
	width: 33.333333%;
	max-width: 33.333333%;
}

/* ------------------------------------------------------------ *\
	Testimonial
\* ------------------------------------------------------------ */
.testimonial {
	padding: 4rem 3rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	background-color: var(--c-purple);
	color: var(--c-white);
}

.testimonial blockquote {
	padding: 0;
	margin: 0;
	border: none;
	color: var(--c-white);
}

.testimonial blockquote p {
	color: var(--c-white);
}

/* ------------------------------------------------------------ *\
	Section Form
\* ------------------------------------------------------------ */
.section-form {
	padding: 8rem 0 4rem;
	position: relative;
}

.section-form:before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30rem;
	background-color: var(--c-purple-dark);
}

.section-form .section__inner {
	position: relative;	
}

/* ------------------------------------------------------------ *\
	 Form
\* ------------------------------------------------------------ */
.form {
	-webkit-box-shadow: 0 1.4rem 4rem 2rem rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1.4rem 4rem 2rem rgba(0,0,0,0.15);
	box-shadow: 0 1.4rem 4rem 2rem rgba(0,0,0,0.15);
}

.form .form__content {
	background-color: var(--c-white);
	padding: 7.8rem 9rem 6.7rem 6.5rem;
	color: #6152D6;
}

.form .form__title {
	font-weight: 600;
	color: #6152D6;
	margin-bottom: 4rem;
}

.form .form__row ~ .form__row {
	margin-top: 2.1rem;
}

.form .form__cols {
	margin: 0 -1rem
}

.form .form__col {
	padding: 0 1rem;
}

.form .form__label {
	display: flex;
	justify-content: space-between;
	margin: 0 0 1.5rem;
	font-size: 1.8rem;
	line-height: 1.6;
	font-weight: 400;
	color: #6152D6;
}

.form .form__actions {
	margin-top: 4.5rem;
}

.form .form__btn {
	display: block;
	border-radius: 2.3rem;
	width: 100%;
	border: none;
}

.form .form__aside {
	background-color: var(--c-purple);
	padding: 8.2rem 5.7rem 10rem;
	color: var(--c-white);
}

.form .form__image {
	max-width: 26.2rem;
	margin: 0 auto 6rem
}

.form .form__entry {
	margin-bottom: 3rem;
}

/* ------------------------------------------------------------ *\
	 Field
\* ------------------------------------------------------------ */
.field {
	display: block;
	width: 100%;
	height: 3.7rem;
	border-radius: 0;
	border: none;
	background-color: #EEEEEE;
	padding: 0 2rem;
	color: #6152D6;
}

/* field textarea */
.field--textarea {
	height: 10.1rem;
	padding: 2rem;
}

/* ------------------------------------------------------------ *\
	List contacts
\* ------------------------------------------------------------ */
.list-contacts {
	list-style-type: none;
}

.list-contacts li ~ li {
	margin-top: .3rem;
}

.list-contacts li a {
	text-decoration: none;
	font-weight: 700;
	transition: opacity var(--t-duration) ease-in-out;
}

.list-contacts li a:hover {
	opacity: .8;
}
